[submodule "ci_image/modules/MAVSDK"]
	path = ci_image/modules/MAVSDK
	url = https://github.com/mavlink/MAVSDK.git
[submodule "ci_image/modules/ArduPilot"]
	path = ci_image/modules/ArduPilot
	url = https://github.com/ArduPilot/ardupilot.git
[submodule "ci_image/modules/PX4/Firmware"]
	path = ci_image/modules/PX4/Firmware
	url = https://github.com/PX4/Firmware.git
